.landing-page-form-container {
    background-color: white;
    padding: 30px 80px;
    box-shadow: 0 0 10px 1px rgb(130, 130, 130);
    border-radius: 10px;
}

.landing-page-form-container>h1 {
    color: black;
    max-width: 400px;
}

.landing-page-form>input {
    border: none;
    border-bottom: 1px solid rgb(150, 150, 150);
    width: 100%;
    padding: 10px 0;
}

.landing-page-form>input::placeholder {
    color: rgb(150, 150, 150);
}

.landing-page-form>input:focus {
    outline: none;
}

.landing-page-form-btn {
    padding: 20px 50px;
    background-color: rgb(35, 35, 82);
    color: white;
    font-weight: 700;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1195px) {
    .landing-page-form-container {
        width: 90%;
        max-width: 400px;
        padding: 10px;
        margin: 50px auto;
    }

    .landing-page-form-container>h1 {
        color: black;
        text-align: center;
        font-size: 20px;
    }

    .landing-page-form {
        padding: 20px;
    }

    .landing-page-form>input {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .landing-page-form-container {
        width: 80%;
    }
}